<div class="container">
    <div class="row">
        <div *ngFor="let block of blockchainView; let i = index" style="padding:10px">
        <mat-card class="example-card" (mouseover)="hoverBlock[i]=true" (mouseleave)="hoverBlock[i]=false">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Block {{(pageIndex*pageSize)+i+1}} </mat-card-title>
                    <mat-card-subtitle>{{block.data.length}} Transactions</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/blockchain_thumbnail.jpg" [ngStyle]="{'height':'120px', 'width':'200px', 'opacity': hoverBlock[i]==false?'100%':'20%'}">
                <mat-card-content style="position:absolute; margin-top:-60%" *ngIf="hoverBlock[i]==true">
                    <b>Block's hash: </b> {{block.hash.substring(0,10)}} <span *ngIf="block.hash.length > 10">...</span>
                    <br>
                    <b>Number of Transactions: </b>{{block.data.length}}
                    <br>
                    <b>Block's last hash: </b>{{block.lastHash.substring(0,5)}} <span *ngIf="block.lastHash.length > 5">...</span>
                    <br>
                    <b>Block's timestamp: </b>{{(block.timestamp|date).substring(0,5)}}<span *ngIf="(block.timestamp|date).length > 5">...</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="col-12 mx-auto" [routerLink]="['/block', (pageIndex*pageSize)+i]">VIEW</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <br>
    </div>
    <mat-paginator [length]="blockchain.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageFired($event)"
    >
</mat-paginator>
</div>